
* {
    font: -apple-system-body;
}

.title {
    font: -apple-system-title;
}

.headline {
    font: -apple-system-headline;
}

.subheadline {
    font: -apple-system-subheadline;
}

footer {
    font: -apple-system-footnote;
}

